{% extends "base.html" %}

{% block content %}

<div class="container col-xs-12 col-md-4 transparency">

  <h2>{{connection.first_name}} {{connection.last_name}}</h2>
  <p>Location: <span>{{connection.city}}, {{connection.state}}</span></p><br>

  <h4>Details</h4>
  <p>Email: <span>{{connection.email}}</span> &nbsp &nbsp <button class="edit transparency"
            value="email"> <span class="glyphicon glyphicon-pencil"></span></button></p>

  <p>Connected Since: <span>{{connection.connection_added_at.strftime('%b %d, %Y')}}</span></p>

  <p>Met Where: <span>{{connection.met_where}}</span></p>

  <p>Introduced By: {% if connection.introduced_by %}
                      <span>{{connection.introduced_by}}</span>
                    {% endif %}</p>

  <p>Notes: <span>{{connection.notes}}</span> &nbsp &nbsp <button class="edit transparency"
            value="notes"> <span class="glyphicon glyphicon-pencil"></span></button></p>

  <p>Interests: <span id="test">{{connection.interests}}</span> &nbsp &nbsp <button 
                class="edit transparency" value="interests"> <span class="glyphicon glyphicon-pencil"></span></button></p>
  <div id="input"></div>

</div>

<script> var c_id = {{connection.connection_id}} </script>
<script src="/static/js/update_connection.js"></script>

{% endblock %}