{% extends "base.html" %}

{% block content %}

<div class="container col-xs-12 col-md-6 transparency">

    <h1>Your Connections</h1>

    <h5>Overview: You have {{ connections|length }} connections in {{ cities|length }} cities </h5>

    <h6>Filter Connections by City</h6>
        {% for city in cities %}
            <button class="city transparency" value="{{city}}">{{ city }}</button>
        {% endfor %}
    <br><br>

    <div>
        <ul id="filterd">
        </ul>
    </div>

    <div id="connections">
        <ul>
            {% for connection in connections %}
                <li>
                    Name: <a style="color:white" href="/connection/{{connection.connection_id}}"> {{ connection.first_name }} {{ connection.last_name }} 
                    </a>
                    <br>
                    City: {{ connection.city }}
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

<script src="/static/cities.js"></script>

{% endblock %}